<mat-toolbar class="main-header">
  <div class="logo-section">
    <mat-icon svgIcon="logo-custom" class="logo-icon"></mat-icon>
    <span class="app-title">CASILDA</span>
  </div>

  <div class="header-center-container">
    <span class="center-text-line">Sistema de vigilancia en salud pública para el abordaje</span>
    <span class="center-text-line">de las violencias y las discriminaciones basadas en género</span>
  </div>

  <div class="udea-logo-section">
    <img src="assets/Logo-Udea-Blanco.png" alt="UdeA" class="udea-logo">
    
    @if (auth.isAuthenticated()) {
      <div class="user-profile-zone" [matMenuTriggerFor]="userMenu">
        <span class="user-name">{{ auth.currentUser?.nombre }}</span>
      </div>
      <mat-menu #userMenu="matMenu">
        <button mat-menu-item (click)="auth.logout()">
          <mat-icon color="warn">logout</mat-icon>
          <span>Cerrar Sesión</span>
        </button>
      </mat-menu>
    }
  </div>
</mat-toolbar>