<h2 mat-dialog-title>{{ isEdit ? 'Editar Usuario' : 'Nuevo Usuario Institucional' }}</h2>

<mat-dialog-content>
  <form [formGroup]="userForm" class="form-container">

    <mat-form-field appearance="outline">
      <mat-label>Nombre Completo</mat-label>
      <input matInput formControlName="nombre" placeholder="Ej: Maria Delgado">
      @if (userForm.get('nombre')?.hasError('required')) {
        <mat-error>El nombre es obligatorio</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Correo Electrónico</mat-label>
      <input matInput formControlName="email" type="email" placeholder="usuario@fnsp.gov.co">
      @if (userForm.get('email')?.hasError('email')) {
        <mat-error>Formato de correo inválido</mat-error>
      }
    </mat-form-field>

    @if (!isEdit) {
      <mat-form-field appearance="outline">
        <mat-label>Contraseña</mat-label>
        <input matInput formControlName="password" type="password" placeholder="Mínimo 6 caracteres">
        @if (userForm.get('password')?.hasError('required')) {
          <mat-error>La contraseña es obligatoria</mat-error>
        }
        @if (userForm.get('password')?.hasError('minlength')) {
          <mat-error>Mínimo 6 caracteres</mat-error>
        }
      </mat-form-field>
    }

    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Rol en el Sistema</mat-label>
        <mat-select formControlName="idRol">
          @for (rol of roles; track rol.id) {
            <mat-option [value]="rol.id">{{ rol.nombre }}</mat-option>
          }
        </mat-select>
        @if (userForm.get('idRol')?.hasError('required')) {
          <mat-error>El rol es obligatorio</mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Estado</mat-label>
        <mat-select formControlName="estado">
          <mat-option value="Activo">Activo</mat-option>
          <mat-option value="Inactivo">Inactivo</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="dialogRef.close()">Cancelar</button>
  <button mat-flat-button color="primary" [disabled]="userForm.invalid" (click)="guardar()">
    {{ isEdit ? 'Actualizar Cambios' : 'Crear Usuario' }}
  </button>
</mat-dialog-actions>
