<h2 mat-dialog-title class="modal-header">Captura de Dirección</h2>

<mat-dialog-content>
  <form [formGroup]="direccionForm" class="grid-modal">

    <mat-form-field appearance="outline" subscriptSizing="dynamic">
      <mat-label>Departamento</mat-label>
      <mat-select formControlName="departamento">
        @for (d of departamentos; track d) {
        <mat-option [value]="d">{{ d }}</mat-option>
        }
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" subscriptSizing="dynamic">
      <mat-label>Ciudad / Municipio</mat-label>
      <mat-select formControlName="municipio">
        @for (m of municipios; track m) {
        <mat-option [value]="m">{{ m }}</mat-option>
        }
      </mat-select>
    </mat-form-field>

    <!-- Vía -->
    <mat-form-field appearance="outline" subscriptSizing="dynamic">
      <mat-label>Vía Principal</mat-label>
      <mat-select formControlName="viaPrincipal">
        @for (v of vias; track v) {
        <mat-option [value]="v">{{ v }}</mat-option>
        }
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" subscriptSizing="dynamic">
      <mat-label>Número / Nombre Vía</mat-label>
      <input matInput formControlName="numeroVia" placeholder="Ej: 45">
    </mat-form-field>

    <mat-form-field appearance="outline" subscriptSizing="dynamic">
      <mat-label>Letra / Sufijo</mat-label>
      <input matInput formControlName="letraVia" placeholder="Ej: A Sur">
    </mat-form-field>

    <mat-form-field appearance="outline" subscriptSizing="dynamic">
      <mat-label>Número Cruce</mat-label>
      <input matInput formControlName="numeroCruce" placeholder="Ej: 72">
    </mat-form-field>

    <mat-form-field appearance="outline" subscriptSizing="dynamic">
      <mat-label>Placa / Número</mat-label>
      <input matInput formControlName="placa" placeholder="Ej: 10">
    </mat-form-field>

    <mat-form-field appearance="outline" subscriptSizing="dynamic">
      <mat-label>Barrio</mat-label>
      <mat-select formControlName="barrio">
        @for (b of barrios; track b) {
          <mat-option [value]="b">{{ b }}</mat-option>
        }
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" subscriptSizing="dynamic">
      <mat-label>Complemento (Apto, Torre, Bloque)</mat-label>
      <input matInput formControlName="complemento">
    </mat-form-field>

    <div class="address-preview span-all">
      <span class="preview-label">
        <mat-icon>location_on</mat-icon> Vista previa
      </span>
      <span class="preview-text">{{ direccionPreview }}</span>
    </div>

  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="onNoClick()">Cancelar</button>
  <button mat-raised-button class="btn-aceptar" (click)="guardar()" [disabled]="direccionForm.invalid">
    Aceptar
  </button>
</mat-dialog-actions>