.pink-header-modal {
  background-color: #348F41;
  color: white;
  margin: 0 !important;
  padding: 15px 24px !important;
  font-size: 1rem;
}

.grid-modal {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
  padding: 20px 0;
}

.span-all {
  grid-column: 1 / -1;
}

::ng-deep {
  .mat-mdc-dialog-container .mdc-dialog__surface {
    border-radius: 12px !important;
    overflow: hidden !important;
  }

  .mat-mdc-form-field-flex {
    height: 32px !important;
    min-height: 32px !important;
    padding: 0 12px !important;
    align-items: center !important;
  }

  .mat-mdc-form-field-infix {
    padding-top: 4px !important;
    padding-bottom: 4px !important;
    min-height: 32px !important;
  }

  .mat-mdc-text-field-wrapper .mat-mdc-floating-label {
    top: 16px !important;
  }

  .mat-mdc-form-field-subscript-wrapper {
    display: none !important;
  }
}