<div class="modal-container">
  <h2 mat-dialog-title class="modal-header" [ngClass]="{'bg-cancel': data.accion === 'cancelar'}">
    <mat-icon>{{ icono }}</mat-icon>
    <span>{{ titulo }}: {{ data.caso.id }}</span>
  </h2>

  <mat-dialog-content class="modal-content">
    <form [formGroup]="gestionForm" class="reparto-form">
      <p class="info-text">
        Usuario: <b>{{ data.caso.nombre }}</b>
      </p>
      
      <div class="form-grid">
        <mat-form-field appearance="outline">
          <mat-label>Fecha de Cita</mat-label>
          <input matInput type="date" formControlName="fechaCita">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Hora de Cita</mat-label>
          <input matInput type="time" formControlName="horaCita">
        </mat-form-field>

        <mat-form-field appearance="outline" class="span-all">
          <mat-label>Motivo</mat-label>
          <mat-select formControlName="motivo">
            <mat-option *ngFor="let m of listaMotivos" [value]="m">
              {{ m }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" class="span-all desc-field">
          <mat-label>Observaciones / Justificación</mat-label>
          <textarea matInput formControlName="observaciones" rows="3" placeholder="Escriba los detalles aquí..."></textarea>
        </mat-form-field>
      </div>

    </form>
  </mat-dialog-content>

  <mat-dialog-actions align="end" class="modal-footer">
    <button mat-button (click)="cerrar()">Volver</button>
    <button mat-flat-button 
            [color]="colorBoton" 
            class="btn-confirm" 
            (click)="guardar()" 
            [disabled]="gestionForm.invalid">
      <mat-icon>check_circle</mat-icon>
      Confirmar {{ data.accion === 'cancelar' ? 'Cancelación' : 'Reprogramación' }}
    </button>
  </mat-dialog-actions>
</div>