<header class="public-header">
  <a class="nav-item" routerLink="/login">
    <mat-icon>account_circle</mat-icon>
    <span class="nav-label">INICIAR SESIÓN</span>
  </a>
  
  <a class="nav-item" routerLink="/formulario-anonimo">
    <mat-icon>face</mat-icon>
    <span class="nav-label">REPORTAR VBG ANÓNIMO</span>
  </a>
  
  @if (features.publicTrackingPrototype) {
    <a class="nav-item" routerLink="/seguimiento">
      <mat-icon>assignment</mat-icon>
      <span class="nav-label">CONSULTAR CASO</span>
    </a>
  }
</header>
