<footer class="public-footer">
  <h2 class="visually-hidden">Canales de contacto de Casilda</h2>
  <ul class="public-footer__lista">
    <li class="public-footer__item">
      <span class="public-footer__icono" aria-hidden="true"><mat-icon>phone</mat-icon></span>
      <a href="tel:1234567890">1234567890</a>
    </li>
    <li class="public-footer__item">
      <span class="public-footer__icono" aria-hidden="true"><mat-icon>mail_outline</mat-icon></span>
      <a href="mailto:proyectocasilda&#64;udea.edu.co">proyectocasilda&#64;udea.edu.co</a>
    </li>
    <li class="public-footer__item">
      <span class="public-footer__icono" aria-hidden="true"><mat-icon>language</mat-icon></span>
      <a href="https://www.udea.edu.co" target="_blank" rel="noopener noreferrer">
        www.udea.edu.co
        <span class="visually-hidden">(se abre en una pestaña nueva)</span>
      </a>
    </li>
  </ul>
</footer>
