<footer class="public-footer">
  <div class="footer-content">
    
    <div class="footer-item">
      <div class="icon-circle">
        <mat-icon>phone</mat-icon>
      </div>
      <span>1234567890</span>
    </div>

    <div class="vertical-divider"></div>

    <div class="footer-item">
      <div class="icon-circle">
        <mat-icon>mail_outline</mat-icon>
      </div>
      <span>proyectocasilda&#64;udea.edu.co</span>
    </div>

    <div class="vertical-divider"></div>

    <div class="footer-item">
      <div class="icon-circle">
        <mat-icon>language</mat-icon>
      </div>
      <span>www.sitiocasilda.edu.com</span>
    </div>

  </div>
</footer>