@if (auth.isAuthenticated()) {
  <app-header (toggleSidenav)="sidenav.toggle()"></app-header>

  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav mode="side" opened class="aside-menu">
      <app-sidebar></app-sidebar>
    </mat-sidenav>

    <mat-sidenav-content class="main-content">
      <div class="page-wrapper">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
} @else {
  @if (isLoginRoute()) {
    <div class="full-screen-login">
      <router-outlet></router-outlet>
    </div>
  } @else {
    <div class="public-viewport-wrapper">
      <app-header></app-header>
      <app-public-header></app-public-header>

      <main class="content-area">
        <router-outlet></router-outlet>
      </main>

      <app-public-footer></app-public-footer>
    </div>
  }
}