<h2 mat-dialog-title class="modal-title">
  <mat-icon>email</mat-icon>
  Agregar Correo
</h2>

<mat-dialog-content class="modal-content">
  <div class="form-row">

    <mat-form-field appearance="outline" class="field-tipo">
      <mat-label>Tipo de Correo</mat-label>
      <mat-select [(ngModel)]="data.tipo">
        <mat-option value="Personal">Personal</mat-option>
        <mat-option value="Institucional">Institucional</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="field-correo">
      <mat-label>Correo</mat-label>
      <input matInput [(ngModel)]="data.correo" placeholder="Ej: user@gmail.com">
    </mat-form-field>

    <mat-form-field appearance="outline" class="field-desc">
      <mat-label>Descripción</mat-label>
      <input matInput [(ngModel)]="data.descripcion" placeholder="Observaciones">
    </mat-form-field>

  </div>
</mat-dialog-content>

<mat-dialog-actions align="end" class="modal-actions">
  <button mat-button (click)="onNoClick()">Cancelar</button>

  <button mat-flat-button class="btn-confirm" [mat-dialog-close]="data" [disabled]="!data.tipo || !data.correo">
    <mat-icon>check</mat-icon>
    Agregar a la lista
  </button>
</mat-dialog-actions>