<h2 mat-dialog-title class="modal-title">
  <mat-icon>fact_check</mat-icon>
  Agregar Hecho
</h2>

<mat-dialog-content class="modal-content">
  <div class="form-container">

    <div class="form-row-full">
      <mat-form-field appearance="outline">
        <mat-label>Fecha</mat-label>
        <input matInput [(ngModel)]="data.fecha" placeholder="Ej: Tiempo...">
      </mat-form-field>
    </div>

    <div class="form-row-full">
      <mat-form-field appearance="outline">
        <mat-label>Lugar</mat-label>
        <input matInput [(ngModel)]="data.lugar" placeholder="Ej: Aula 204, Oficina, Virtual...">
      </mat-form-field>
    </div>

    <div class="form-row-full">
      <mat-form-field appearance="outline" class="field-descripcion">
        <mat-label>Descripción del hecho</mat-label>
        <textarea matInput [(ngModel)]="data.descripcion" rows="4"
          placeholder="Describa en detalle lo ocurrido..."></textarea>
      </mat-form-field>
    </div>

  </div>
</mat-dialog-content>

<mat-dialog-actions align="end" class="modal-actions">
  <button mat-button (click)="onNoClick()">Cancelar</button>

  <button mat-flat-button class="btn-confirm" [mat-dialog-close]="data" [disabled]="!data.fecha || !data.descripcion">
    <mat-icon>check</mat-icon>
    Agregar
  </button>
</mat-dialog-actions>